* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
h1{
    text-align: center;
    font-size: 2.4rem;
}

.generate-btn {
    padding: 1rem 2rem;
    cursor: pointer;
    width: 20rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.dog-image {
    width: 40rem;
    height: 40rem;
    object-fit: cover;
    margin-top: 3rem;

}
form {
    margin-top: 2rem;
}
.input {
    padding: 1rem;
    font-size: 1.6rem;
}
.generate-specific-breed{
    padding: 1rem 2rem;
    cursor: pointer;
    width: 20rem;
    margin-top: 3rem;
}

.error-alert {
    background-color: rgb(240, 107, 107);
    color: white;
    font-weight: bold;
    text-align: center;
    min-width: 20rem;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid red;
    margin-top: 2rem;
    display: none;
}